  <ngb-carousel interval="2000" class="desktop_only"> 
        <ng-template ngbSlide >
          <div class="picsum-img-wrapper" >
            <img class="w-100" src="../../assets/images/road.jpg" alt="First slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="../../assets/images/fragile.jpg" alt="Second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="../../assets/images/ninja.jpg" alt="Third slide">
          </div>
        </ng-template>
   </ngb-carousel> 
   <lw-portfolio></lw-portfolio>
