<section>
<div class="blocks container-large">
    
<section class="block-main-image-text" >
    <div class="img-container desktop" style="background: url('../../assets/images/thinking.JPG');height:581px; ">
    </div>

    <div class="img-container mobile" style="background: url('../../assets/images/turc.JPG');height:581px; ">
    </div>
</section>
<section class="block-main-introduction">
    <div class="container">
        <div class="row txt-center">
            <div class="col-md-12 col-sm-8 grid-center">
                <div  class="img-container desktop" style="background: url('../../assets/images/quote.png'); height: 300px;">

                </div>
                <div class="img-container mobile" style="background: url('../../assets/images/albert.png') no-repeat center;height: 200px;"></div>

            </div>
        </div>
    </div>

    <div class="container block-single-image-text mt-5">
            <div class="row align-item-md-center d-flex">
                <div class="col-md-5 col-lg-5 second">
                    <div class="padding-top-md-0">
                        <h2>Qui suis je ?</h2>
                        <p class="smallp"> Je suis ahmed belkhayat, j'ai 26 ans et j'habite a tanger. J'ai aqueris mon premier appareil photo a 16 ans, et depuis je ne l'ai plus lache. 
                            Ce qui me fascine en photo, c'est d'etendre la temporalite d'un evenement. Que ca soit un beau coucher de soleil, un sourire d'enfant ou les regards tendres des amoureux. Tout de suite le fini devient infini.
                            </p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 first">
                    <div class="image-container" style="background: url('../../assets/images/freedom.jpg') no-repeat center"></div>
                </div>
            </div>
    </div>


</section>
<section class="margin-top-30 border">
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-7 texty ">
                 <h2>Realisations majeurs</h2>
                 <p>Differentes reconnaissances de mon travail : competition, exposition en gallerie d'art et realisation d'un court metrage</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-7 d-flex flex-column list">
              <div class="d-flex justify-content-center align-items-start item" >
                 <img class="tag" src="../../assets/images/winning.png">
                 <div>
                 <h2>Competition nationale de photo</h2>
                 <p>J'ai participe a un concours national (Maroc) dont le theme etait la mixite et j'ai gagne le premier prix </p>
                 </div>
              </div>
              <div class="d-flex justify-content-center align-items-start item" >
                    <img class="tag" src="../../assets/images/video.png">
                    <div>
                    <h2>Les hommes de dieu</h2>
                    <p>I filmed and took picture for a competition short movie named les hommes de dieu</p>
                    </div>
              </div>
              <div class="d-flex justify-content-center align-items-start item" >
                    <img class="tag" src="../../assets/images/gallery.png">
                    <div>
                    <h2>Spanish exposition</h2>
                    <p>I have been invited to attented a spanish art gallery to expose my art in Tangier, Morrocco</p>
                    </div>
              </div>
             </div>
             
            </div>
        </div>
</section>
<section> 
        <div class="container">
             <div class="row txt-center">
                <div class="col-12 align-item-md-center">
                   <h2>Contact</h2>
                   <p> <q>Restons en contact, contactez moi ci-dessous pour toute demande </q> </p>
                    <div class="contactEnv">  
                        <a> 
                        </a>
                     </div>
                </div>
            </div>
            </div>              
</section>


</div>

</section>