<section>
<div class="blocks container-large">
    
<section class="block-main-image-text" >
    <div   (scroll)="scrollHandler($event)" class="img-container" style="background: url('../../assets/images/midou.jpg');height:581px; ">

   </div>
</section>
<section class="block-main-introduction">
    <div class="container">
        <div class="row txt-center">
            <div class="col-md-12 col-sm-8 grid-center">
                <div  class="img-container desktop" style="background: url('../../assets/images/quote.png'); height: 300px;">

                </div>
                <div class="img-container mobile" style="background: url('../../assets/images/albert.png') no-repeat center;height: 200px;"></div>

            </div>
        </div>
    </div>
    <div class="container block-single-image-text mt-5">
            <div class="row align-item-md-center d-flex right">
                <div class="col-md-3 offset-sm-1 col-sm-7 second">
                    <div class="padding-top-30 padding-top-md-0 content">
                        <h3 class="block-title">MY STORY</h3>
                        <span><p>Passion, creativity and curiosity are all part of our DNA as we strive to continuously cross boundaries and explore the possible limits in art and design. With our skulls we want to open a door to a new world to all our customers, whether private collectors or corporations. We want to share our passion for exclusive pieces of art with lasting value and spread the delight of beginning a life long collection of original pieces of art. In an increasingly fast moving and digitalised world of mass production, Kaazo is the antipodal that values true craftsmanship and exceptional artistic skills.

                            </p></span>
                    </div>
                </div>
                <div class="col-md-6 offset-sm-1 col-sm-7 first">
                    <div class="image-container" style="background: url('../../assets/images/freedom.jpg') no-repeat center"></div>

                </div>
            </div>
    </div>
</section>
</div>

</section>