<section>
<div class="blocks container-large">
    
<section class="block-main-image-text" >
    <div class="img-container desktop" style="background: url('../../assets/images/thinking.JPG');height:581px; ">
    </div>

    <div class="img-container mobile" style="background: url('../../assets/images/turc.JPG');height:581px; ">
    </div>
</section>
<section class="block-main-introduction">
    <div class="container">
        <div class="row txt-center">
            <div class="col-md-12 col-sm-8 grid-center">
                <div  class="img-container desktop" style="background: url('../../assets/images/quote.png'); height: 300px;">

                </div>
                <div class="img-container mobile" style="background: url('../../assets/images/albert.png') no-repeat center;height: 200px;"></div>

            </div>
        </div>
    </div>

    <div class="container block-single-image-text mt-5">
            <div class="row align-item-md-center d-flex">
                <div class="col-md-5 col-lg-5 second">
                    <div class="padding-top-md-0">
                        <h2>Qui suis je ?</h2>
                        <p class="smallp">Passion, creativity and curiosity are all part of our DNA as we strive to continuously cross boundaries and 
                            explore the possible limits in art and design. With our skulls we want to open a door to a new world to all our customers, whether private collectors or corporations. We want to share our passion for exclusive pieces of art with lasting value and spread the delight of beginning a life long collection of original pieces of art. In an increasingly fast moving and digitalised world of mass production, Kaazo is the antipodal that values true craftsmanship and exceptional artistic skills.

                            </p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 first">
                    <div class="image-container" style="background: url('../../assets/images/freedom.jpg') no-repeat center"></div>
                </div>
            </div>
    </div>


</section>
<section class="margin-top-30">
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-7 texty ">
                 <h2>Achievments</h2>
                 <p>Different recoganization of my work, exposition, national compitition</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-7 d-flex flex-column list">
              <div class="d-flex justify-content-center align-items-start item" >
                 <img class="tag" src="../../assets/images/winning.png">
                 <div>
                 <h2>National photography competition</h2>
                 <p>I attented the final round and won the trophy in national photography competition the subject was mixity</p>
                 </div>
              </div>
              <div class="d-flex justify-content-center align-items-start item" >
                    <img class="tag" src="../../assets/images/video.png">
                    <div>
                    <h2>Les hommes de dieu</h2>
                    <p>I filmed and took picture for a competition short movie named les hommes de dieu</p>
                    </div>
              </div>
              <div class="d-flex justify-content-center align-items-start item" >
                    <img class="tag" src="../../assets/images/gallery.png">
                    <div>
                    <h2>Spanish exposition</h2>
                    <p>I have been invited to attented a spanish art gallery to expose my art in Tangier, Morrocco</p>
                    </div>
              </div>
             </div>
             
            </div>
        </div>
</section>

</div>

</section>