.brick {
    max-width: 600px;
    margin: 0;
    opacity: 0;
    position: relative;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.pic {
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-toggle::after{
    display: none;
  
 }
 .burger {
   padding-left: 10px;
   font-size: 1.4em;
 }
 .dropdown-menu {
 -webkit-border-radius: 0 !important;
 -moz-border-radius: 0 !important;
      border-radius: 0 !important;
 }
 .dropdown-item{
     font-size: 1.1em;
 }
 