<div class="container-large">
        <!--Section bouton-->
        <section class="margin-top-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 ml-auto menuB">
                                <div ngbDropdown class="d-inline-block">
                                    <a class="btn" id="dropdownMenuLink" ngbDropdownToggle>
                                      Categorie
                                      <i class="fa fa-bars burger"></i>
                                    </a>
                                    <div ngbDropdownMenu aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('portrait')">Portrait</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('mariage')">Mariage</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('concert')">Concert</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('bn')">B&W</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('paysage')">Paysage</a>
                                      <a class="dropdown-item" (click) ="getAllPictures()">Tous</a>
                                    </div>
                                </div>
                   </div>
              
                   <div class="col-md-7 ml-auto mr-auto desktop">
                      <ngb-carousel> 
                          <ng-template ngbSlide *ngFor= "let picture of pictures; let l = count, let i=index" >
                            <div class="picsum-img-wrapper" >
                              <div class="d-flex txtCarou">
                                <p>{{picture.name}}</p>
                                <p class="ml-auto">{{i+1}}-{{l}}</p>

                              </div>
                              <img class="img-fluid w-100 pict" src="{{picture.url}}" alt="First slide">
                            </div>
                          </ng-template>
                      </ngb-carousel>             
                   </div>
                                     <!-- 
                   <div class="col-md-1">
                      <h2>{{picName.textContent}}</h2>
                    </div>
                    --->
  
                   <!--A voir                   
                   <div class="col-md-4">
                        <h2 class="txt-center">Portfolio</h2>
                    </div>
                  -->

    
                </div>
            </div>
        </section>
                                                                          <!--Section Portfolio la c'est du serieux-->

        <section class="margin-top-30 mobile">
        <div class="row d-flex  flex-wrap">
            <div *ngFor= "let picture of pictures" class="col-lg-4 pic">
             <img  class="img-fluid" src="{{picture.url}}">
             <h2>{{picture.name}}</h2>
            </div>
        </div>
        </section>

        <section class="desktop">
          <div class="container-fluid">
          </div>       
        </section>
 <!--                 
       <section class="customModal" [ngClass]="{'open':openModal}">
          <div class="modCont">
              <span (click)="close()" class="close">&times;</span>
              <ngb-carousel interval class="margin-top-30"> 
                  <ng-template ngbSlide *ngFor= "let picture of pictures" >
                    <div class="picsum-img-wrapper" >
                      <img class="img-fluid w-100" src="{{picture.url}}" alt="First slide">
                    </div>
                  </ng-template>
              </ngb-carousel>          
            </div>
          </section> 
-->
                  
              

</div>