<div class="container-large">
        <!--Section bouton-->
        <section class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 menuB">
                                <div ngbDropdown class="d-inline-block">
                                    <a class="btn" id="dropdownMenuLink" ngbDropdownToggle>
                                      Categorie
                                      <i class="fa fa-bars burger"></i>
                                    </a>
                                    <div ngbDropdownMenu aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('portrait')">Portrait</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('mariage')">Mariage</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('concert')">Concert</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('bn')">B&W</a>
                                      <a class="dropdown-item" (click) ="getPicturesByCategory('paysage')">Paysage</a>
                                      <a class="dropdown-item" (click) ="getAllPictures()">Tous</a>
                                    </div>
                                </div>
                   </div>
                   <div class="col-md-4">
                        <h2 class="txt-center">Portfolio</h2>
                    </div>

    
                </div>
            </div>
        </section>
                                                                          <!--Section Portfolio la c'est du serieux-->

        <section class="margin-top-30">
        <div class="row d-flex  flex-wrap align-content-stretch">
            <div *ngFor= "let picture of pictures" class="col-lg-4 pic">
             <img  class="img-fluid" src="{{picture.url}}">
            </div>
        </div>
        </section>

</div>