<div class="container-large">
        <section>
            <div class="img-container desktop" style="background: url('../../assets/images/portrait/portraitCover.jpg'); height: 581px;">

            </div>
            <div class="img-container mobile" style="background: url('../../assets/images/portrait/portrait14Mobile.jpg'); height: 581px;">
            </div>

        </section>
        <!--Section bouton-->
        <section>
            <div class="container-fluid">
                <div class="row mt-5 txt-center">
                   <div class="col-md-8 offset-md-2">
                        <h2>Portfolio</h2>
                        <div class="d-flex align-items-md-center justify-content-center">
                                <button type="button" class="btn btn-primary">
                                    Tous
                                </button>
                                <button type="button" class="btn btn-primary">
                                   Portait
                                </button>
                                <button type="button" class="btn btn-primary">
                                   Mariage
                                </button>
                                <button type="button" class="btn btn-primary">
                                   Concert
                                 </button>
                                 <button type="button" class="btn btn-primary">
                                    Paysage
                                 </button>            
                        </div>
              
                    </div> 
                </div>
            </div>
                                                                  <!--Section Portfolio la c'est du serieux-->

        </section>
        <section>

        </section>

        <!--
        <div class="row d-flex flex-wrap mt-5 justify-content-around images">
            <div class="col-md-4  padding-top-30">
                <div class="card" style="width: auto; ">
                    <img src= "../../assets/images/nature.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title light">Nature</h3>
                        <p class="card-text light">Here you could see a preview of landscape and nature photography</p>
                        <a href="#" class="btn btn-primary"><span>Discover</span></a>
                    </div>
                </div>
            </div>  
            <div class="col-md-4  padding-top-30">
                <div class="card" style="width: auto; ">
                    <img src= "../../assets/images/mariage2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title light">Wedding</h3>
                        <p class="card-text light">Here you could see a preview of landscape and nature photography</p>
                        <a href="#" class="btn btn-primary"><span>Discover</span></a>
                    </div>
                </div>
            </div>  
            <div class="col-md-4 padding-top-30">
                <div class="card" style="width: auto; ">
                    <img src= "../../assets/images/lady.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title light">Portrait</h3>
                        <p class="card-text light">Here you could see a preview of landscape and nature photography</p>
                        <a href="#" class="btn btn-primary"><span>Discover</span></a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4 padding-top-30">
                    <div class="card" style="width: auto; ">
                        <img src= "../../assets/images/landscape.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title light">LANDSCAPE</h3>
                            <p class="card-text light">Here you could see a preview of landscape and nature photography</p>
                            <a href="#" class="btn btn-primary"><span>Discover</span></a>
                        </div>
                    </div>
            </div> 
            <div class="col-md-4 padding-top-30">
                    <div class="card" style="width: auto; ">
                        <img src= "../../assets/images/caty.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title light">ARTY</h3>
                            <p class="card-text light">Here you could see a preview of landscape and nature photography</p>
                            <a href="#" class="btn btn-primary"><span>Discover</span></a>
                        </div>
                    </div>
            </div>
            <div class="col-md-4 padding-top-30">
                    <div class="card" style="width: auto; ">
                        <img src= "../../assets/images/fragilesquare.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title light">Black and white</h3>
                            <p class="card-text light">Here you could see a preview of landscape and nature photography</p>
                            <a href="#" class="btn btn-primary"><span>Discover</span></a>
                        </div>
                    </div>
            </div>       
       
        </div>
        -->
</div>