.blocks .main-intro {
    padding : 25px 0;
}
.blocks {
    position : relative;
    width: 100%;
}
.block-single-image-text .image-container {
    background-size : cover !important;
    height: 475px;
}

.block-feature-image .image-container {
    background-size : cover !important;
    height: 600px;
    padding : 20px 20px !important;

 
}

@media (max-width: 1199px)
{
    .block-feature-image .image-container {
        padding : 20px 20px;
        height: 500px;
    }
}

