<section class="mt-5">
<div class="container-fluid blocks">
    <div class="container main-intro">
        <div class="row txt-center">
            <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2">
                <h2>Ahmed belkhayat</h2>
                <p> Bienvenue sur mon site je suis photographe professionnel depuis maintenant 6 ans. Ci-dessous je partagerai mon portfolio, mes projets et ma passion.
                    N'hesitez pas a prendre contact avec moi pour toute demande. Je me tiens disponible partout au maroc.
                </p>
            </div>
        </div>
    </div>
    <div class="container block-single-image-text mt-5">
        <div class="row">
            <div class="col-md-6 offset-sm-1 col-sm-7">
                <div class="image-container" style="background: url('../../assets/images/midou.jpg') no-repeat center"></div>
            </div>
            <div class="col-md-4 offset-sm-1 col-sm-7 ">
                    <div>
                        <h2 class="tiret">A propos</h2>
                            <span><p class="smallp">Mon histoire avec la photo a commence quand j'avais 16 ans. Le premier appareil photo fut un canon 500DS la gamme amateur. 
                                J'ai d'abord commence par prendre des photos de paysages, et j'ai tout de suite adore le sentiment que me procurait la photographie </p>
                            </span>
                            <a class="btn btn-primary btn-more" routerLink="/about"><span>Lire plus</span></a>           
                    </div>
            </div>
        </div>
    </div>
    <section class="block-feature-image margin-top-100">
        <div class="image-container d-flex align-items-center flex-column justify-content-between" style="background: url('../../assets/images/kasbaWall.jpg') no-repeat center;height:700px">
            <h3 class="white">MY WORK</h3>
            <a class="btn btn-primary btn-large white" routerLink="./" fragment="display"><span>Discover More</span></a>
        </div>
    </section>
    <section id="display" class="margin-top-100">
        <div class="container block-single-image-text mt-5">
            <div class="row align-item-md-center d-flex right">
                <div class="col-md-3 offset-sm-1 col-sm-7 second">
                            <h2 class="tiret">Nature</h2>
                        <span><p class="smallp">All of our locations offer the full range of our Made to Measure Code services. 
                                            Our Bespoke service can be arranged by appointment through our Bespoke workshop.</p>
                        </span>
                        <a class="btn btn-primary btn-more" href="https://englishcut.com/locations/"><span>See More</span></a>           
                </div>
                <div class="col-md-6 offset-sm-1 col-sm-7 first">
                    <div class="image-container" style="background: url('../../assets/images/nature.jpg') no-repeat center"></div>
                </div>
            </div>
        </div>
        <div class="container block-single-image-text mt-5">
                <div class="row align-item-md-center d-flex">
                    <div class="col-md-6 offset-sm-1 col-sm-7">
                        <div class="image-container" style="background: url('../../assets/images/lady.jpg') no-repeat center"></div>
                    </div>
                    <div class="col-md-3 offset-sm-1 col-sm-7">
                            <h2 class="tiret">Portait</h2>
                            <span><p class="smallp">All of our locations offer the full range of our Made to Measure Code services. 
                                                Our Bespoke service can be arranged by appointment through our Bespoke workshop.</p>
                            </span>
                            <a class="btn btn-primary btn-more" href="https://englishcut.com/locations/"><span>See More</span></a>           
                    </div>
        
                </div>
        </div>   
        <div class="container block-single-image-text mt-5">
            <div class="row align-item-md-center d-flex right">
                <div class="col-md-3 offset-sm-1 col-sm-7 second">
                        <h2 class="tiret">Mariage</h2>
                        <span><p class="smallp">All of our locations offer the full range of our Made to Measure Code services. 
                                                Our Bespoke service can be arranged by appointment through our Bespoke workshop.</p>
                        </span>
                        <a class="btn btn-primary btn-more" href="https://englishcut.com/locations/"><span>See More</span></a>           
                </div>
                <div class="col-md-6 offset-sm-1 col-sm-7 first">
                    <div class="image-container" style="background: url('../../assets/images/mariage.jpg') no-repeat center"></div>
                </div>
            </div>
        </div>
       
           
    </section>
    <section>
            <div class="container block-single-image-text mt-5">
                 <div class="row txt-center">
                    <div class="col-12 align-item-md-center">
                       <h2>Contact</h2>
                       <p id="contact" class="light"> <q>Restons en contact, contactez moi ci-dessous pour toute demande </q> </p>
                        <div class="contactEnv">  
                            <a> 
                            </a>
                         </div>
                    </div>
                </div>
                </div>              
    </section>
</div>
</section>
