<section class="mt-5">
<div class="container-fluid blocks">
    <div class="container main-intro">
        <div class="row txt-center">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                <h3 class="block-title">AHMED BELKHAYAT</h3>
                <p>We’re well-known for taking a straightforward, no-nonsense approach to tailoring. We feel the formula for a good suit is pretty 
                    simple. It’s about a slim-cut silhouette and a soft comfortable make – a suit should be a pleasure to wear. If you’re new to quality tailoring, 
                    you may not be familiar with these terms. However, fine tailoring is an art and expression.
                </p>
            </div>
        </div>
    </div>
    <div class="container block-single-image-text mt-5">
        <div class="row align-item-md-center">
            <div class="col-md-6 offset-sm-1 col-sm-7">
                <div class="image-container" style="background: url('../../assets/images/midou.jpg') no-repeat center"></div>
            </div>
            <div class="col-md-3 offset-sm-1 col-sm-7 ">
                    <div class="padding-top-30 padding-top-md-0 content">
                        <h3 class="block-title">ABOUT ME</h3>
                            <span><p>All of our locations offer the full range of our Made to Measure Code services. 
                                Our Bespoke service can be arranged by appointment through our Bespoke workshop.</p>
                            </span>
                            <a class="btn btn-primary btn-more" href="https://englishcut.com/locations/"><span>Find Out More</span></a>           
                    </div>
            </div>
        </div>
    </div>
    <section class="block-feature-image margin-top-100">
        <div class="image-container d-flex align-items-center flex-column justify-content-between" style="background: url('../../assets/images/road.jpg') no-repeat center">
            <h6></h6>
            <h3 class="white">MY WORK</h3>
            <a class="btn btn-primary btn-large white" routerLink="./" fragment="display"><span>Discover More</span></a>
        </div>
    </section>
</div>
</section>
<lw-displaypic id="display"></lw-displaypic>