/* You can add global styles to this file, and also import other style files */
body,
html
{
	margin: 0;
	padding: 0;
	font-size: 90%;
  background-color : white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;


}
/*To remove the space beetwen the navBar and component*/
body {
padding-top: 50px;
}
html {
  scroll-behavior: smooth;
}
/* -------------------------------------------------------------------------- */
/*                                 MARGIN                                     */
/* -------------------------------------------------------------------------- */
@media(max-width:2199px){
.padding-top-30 {
  padding-top : 30px;
}
.margin-top-100 {
  margin-top : 100px;
  }
}
.margin-top-30 {
  margin-top : 30px;
  }


@media(max-width:769px){
  .padding-top-30 {
    padding-top : 20px;
  }
  .margin-top-100 {
    margin-top : 50px;
    }
    .margin-top-30 {
      margin-top : 10px;
      }
    
  
}


/* -------------------------------------------------------------------------- */
/*                                 IMAGES                                     */
/* -------------------------------------------------------------------------- */

.desktop_only
{
	display: none;
}

@media only screen and (min-width: 769px)
{
	.desktop_only
	{
		display: inline-block;
	}
	
	.mobile_only
	{
		display: none;
    }
   
}

@media (max-width: 767px)
{
    .block-single-image-text .second {
        order : 2;
    }
    .block-single-image-text .first {
        order : 1;
    }

}

.block-single-image-text .image-container {
  background-size : cover !important;
  height: 475px;
}

/* -------------------------------------------------------------------------- */
/*                                 TEXTES                                      */
/* -------------------------------------------------------------------------- */

h1 {
  margin :0;
  padding : 25px 0;
  font-weight: normal;
  font-size: 1.7em;
}
h1,h2 {
  font-family: 'Montserrat', sans-serif;

}
 h2 {
  width: auto;
  padding: 0px!important;
  font-size:6vw!important;
  font-weight:400!important;
  line-height:1.2!important;
  letter-spacing:-.1px!important;
  margin-bottom:.5em!important;
  position: relative;

}
h2:after{
  content:"";
  width:35px;
  height:3px;
  background-color:#232323;
  position:absolute;
  bottom:-.6em;
  right:4px;display:none
}

p {
  font-size: 4vw;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: -.1px;
  width: 100%;
  margin-top: 1em;
}
@media (min-width: 47.5em){
  h2 {
    font-size: 3vw!important;
    margin-bottom:1.3em!important;
  }}
 
 @media (min-width: 47.5em){
  p {
    font-size:1.5vw;
     width: auto;
 }}


.block-title{
  font-size : 16px;
  line-height: 23px;
  padding-bottom: 20px;
}

span 
{
  font-size : 1.2em;
  
}


.light {
    font-weight: 300;
  }
  .regular {
    font-weight: 400;
  }
  .bold {
    font-weight: 700;
  }
  .black {
    font-weight: 900;
  }
  .txt-right {
    text-align: right;
  }
  .txt-center {
    text-align: center;
  }
  .txt-justify {
    text-align: justify;
  }
  .trait {
    border :1px solid #232323;
  }
  
  /* -------------------------------------------------------------------------- */
/*                                 BOUTTONS                                   */
/* -------------------------------------------------------------------------- */
.btn-more {
  margin-top : 35px;
}
@media (max-width: 2199px)
{
.btn.btn-primary
{
  min-width: 205px;
  height: 51px;
  font-size: 11px;
  line-height: 51px;
  padding: 0 20px;
}}

.btn.btn-primary
{
  color :#232323; 
  background-color: transparent !important;
  border : 1px solid #a3a3a3 !important;
  text-transform: uppercase;
  border-radius: 0px;

}
/*
.btn.btn-primary.btn-large {
  max-width: 319px;
  height: 76px;
}*/
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\02192';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn.btn-primary:hover {
  background-color: #232323!important;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: auto;
}
  /* -------------------------------------------------------------------------- */
/*                                 COULEURS                                   */
/* -------------------------------------------------------------------------- */

.white {
  color : white;
}



